/**
 * Common Stylesheet
 */
body {
  font-size: 18px;
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  &-track {
    width: 6px;
    background: rgba(16, 31, 28, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  &-thumb {
    background-color: rgba(16, 31, 28, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:hover {
      background-color:rgba(16, 31, 28, 1);
    }
  }
}