<!DOCTYPE html>
<html>
<head>
  <title>Vue bind - Conditions and Loops</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>

  <div id="root">

    <p v-if="seen">Now you see me</p>

    <p v-if="notSeen">Now you cannot see me</p>

    <ol>
      <li v-for="todo in todos">{{ todo.text }}</li>
    </ol>

  </div>

  <script type="text/javascript">
    let vm = new Vue({
      el: '#root',
      data: {
        seen: true,  // This value can be changed from console
        notSeen: false,
        todos: [
          { text: 'Learn Javascript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' }
        ],
      }
    });
  </script>
</body>
</html>