<!DOCTYPE html>
<html>
<head>
  <title>Vue Component Basic Example</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <button-counter title="btn1"></button-counter>
    <button-counter title="btn2"></button-counter>
    <button-counter title="btn3"></button-counter>
  </div>

  <script type="text/javascript">
    Vue.component('button-counter', {
      // Use Js closure to expand prototype chain
      // If Vue didn’t use function rule, clicking on one button would affect the data of all other instances
      data: function() {
        return {
          count: 0
        }
      },
      // Adding component attribute with 'props'
      props: ['title'],
      template: '<div><h1>{{ title }}</h1><button v-on:click="count++" :title="title">You clicked me {{ count }} times</button></div>'
    });

    let vm = new Vue({
      el: '#root',
      data: {
        flag: true
      }
    });
  </script>
</body>
</html>