<!DOCTYPE html>
<html>
<head>
  <title>Vue Blog Post Component</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <div :style="{ fontSize: postFontSize + 'px' }">
      <!-- Note: v-on:enlarge-text can be written as @enlarge-text -->
      <!-- We can access the emitted arguments with $event -->
      <blog-post 
        v-for="blog in blogs"
        v-bind:key="blog.id"
        v-bind:post="blog"
        v-on:enlarge-text="postFontSize += $event"
      ></blog-post>
    </div>
  </div>

  <script type="text/javascript">
    Vue.component('blog-post', {
      data: function() {
        return {
          className: 'blog-post'
        };
      },

      props: ['post'],  // Use an object as props attribute

      // Please note that enlarge-text is case sensitive, cannot be written as enlargeText
      // enlarge-text is a self-defined function
      template: '\
        <div :class="className">\
          <h3>{{ post.title }}</h3>\
          <div v-html="post.content"></div>\
          <div>Publish Date: {{ post.publishedAt }}</div>\
          <div>Comments: {{ post.comments }}</div>\
          <button v-on:click="$emit(\'enlarge-text\', 2)">Enlarge Text</button>\
        </div>\
      ',
    });

    let vm = new Vue({
      el: '#root',
      data: {
        postFontSize: 24,
        blogs: [
          { 
            id: 1, 
            title: 'Blog 1', 
            content: '<p>This is first blog</p>', 
            publishedAt: '2020-04-01', 
            comments: 'Great'
          },
          {
            id: 2, 
            title: 'Blog 2', 
            content: '<p>This is second blog</p>', 
            publishedAt: '2020-04-02', 
            comments: 'Awesome'
          },
          {
            id: 3, 
            title: 'Blog 3', 
            content: '<p>This is third blog</p>', 
            publishedAt: '2020-04-03', 
            comments: 'Terrible'
          }
        ]
      }
    });
  </script>
</body>
</html>