<!DOCTYPE html>
<html>
<head>
  <title>Vue Component Event</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <button-counter title="btn1" @clicknow="clicknow"></button-counter>
  </div>

  <script type="text/javascript">
    Vue.component('button-counter', {
      // Use Js closure to expand prototype chain
      // If Vue didn’t use function rule, clicking on one button would affect the data of all other instances
      data: function() {
        return {
          count: 0
        }
      },

      // Adding component attribute with 'props'
      props: ['title'],

      // Use div to include multiple html elements
      template: '\
        <div>\
          <h1>{{ title }}</h1>\
          <button v-on:click="addCount" :title="title">You clicked me {{ count }} times</button>\
        </div>\
      ',
      
      methods: {
        addCount: function() {
          this.count++;

          // Trigger clicknow event which is defined in component element
          // Note that this clicknow is a self-defined event
          this.$emit('clicknow', this.count);
        }
      }
    
    });

    let vm = new Vue({
      el: '#root',
      data: {
        flag: true
      },

      methods: {
        // The count parameter, namely args, can be parsed in by this.$emit(eventName, args);
        clicknow: function(count) {
          console.log('current count is: ' + count);
        }
      }
    });
  </script>
</body>
</html>