<!DOCTYPE html>
<html>
<head>
  <title>Vue Global Registration vs Local Registration</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <button-counter></button-counter>
    <test></test>
    {{ msg }}
  </div>

  <script type="text/javascript">
  Vue.component('button-counter', {
    props: ['title'],
    data: function() {
      return {

      };
    },
    template: 
    `<div>
      <h1 @click="clickme">h1...</h1>
    </div>`,
    methods: {
      clickme: function() {
        console.log('clickme');
      }
    }
  });

  new Vue({
    el: '#root',
    data: {
      msg: 'hello vuejs'
    },
    components: {
      // Please notice the scope of local registration components
      test: {
        template: 
        '<div>\
          <h2 @click="clicknow">h2...</h2>\
        </div>',
        methods: {
          clicknow: function() {
            console.log('clicknow');
          }
        }
      }
    }
  });
  </script>
</body>
</html>