<!DOCTYPE html>
<html>
<head>
  <title>Vue Todo List Component Slot Usage</title>
  <script type="text/javascript" src="../vue.js"></script>
</head>
<body>

  <div id="root">
    <h3>{{ headline }}</h3>
    <todo-list>
      <todo-item v-for="item in list" :key="item.id" :id="item.id" :title="item.title" :del="item.del" @delete="deleteHandler">
        <!-- Old syntax, before version 2.5      -->
        <!-- span slot="pre-icon">Previous</span -->
        <!-- span slot="suf-icon">Suffix</span   -->

        <!-- New syntax, after version 2.5                               -->
        <!-- Adding previous icon and suffix icon to todo item component -->
        <!-- value coming from component slot inside -->
        <template v-slot:pre-icon="{ value }">
          <span>Previous {{ value }}</span>
        </template>

        <!-- Slot can also use default value, if you don't specify in template -->
        <!-- <template v-slot:suf-icon>
          <span>Suffix</span>
        </template> -->
      </todo-item>
    </todo-list>
  </div>

  <script type="text/javascript">
    Vue.component('todo-item', {
      props: {
        id: Number,  // The component will trigger error when id is not Number type
        title: String,
        del: {
          type: Boolean,
          default: false
        }
      },
      template: `
        <li :data-id="id">
          <slot name="pre-icon" :value="value"></slot>
          <span v-if="!del">{{ title }}</span>
          <span v-else style="text-decoration:line-through;">{{ title }}</span>
          <slot name="suf-icon">😄</slot>
          <button v-show="!del" @click="clickHandler">Delete</button>
        </li>
      `,
      data: function() {
        return {
          value: Math.random()
        };
      },
      methods: {
        clickHandler: function() {
          console.log('clickHandler');

          this.$emit('delete', this.id, this.title);
        }
      }
    });

    Vue.component('todo-list', {
      data: function() {
        return {
          
        };
      },
      template: `
        <ul>
          <slot></slot>
        </ul>
      `,
    });

    new Vue({ 
      el: '#root',
      data: {
        headline: 'Learning Objects in The Year 2020',
        list: [
          { 
            id: 0,
            title: 'Learn Vue.js',
            del: false
          },
          { 
            id: 1, 
            title: 'Learn IOS',
            del: true
          },
          { 
            id: 2,
            title: 'Learn Java Spring MVC Framework',
            del: false
          },
          {
            id: 3,
            title: 'Learn C++',
            del: false
          }
        ]
      },
      methods: {
        deleteHandler: function(delId, delTitle) {
          console.log('deleteHandler', delId, delTitle);
        }
      }
    });
  </script>
</body>
</html>